{% extends 'admin-tables-temple.html' %}

{% block content %}

    <div style="margin-bottom: 10px">

    </div>
    <div class="card mb-4">
        <div class="card-header">

            <i class="fas fa-table me-1"></i>
            Location Table
            <a class="btn btn-success"  style="margin-bottom: 1px" href="{% url 'location_add' %}">
                <span class="glyphicon glyphicon-plus-sign"  aria-hidden="true"></span>
                new Location
            </a>
        </div>

        <!-- <form method="post" id="app_mag_gorm">
            {% csrf_token %} -->
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                    <tr>
                        <th>Address</th>
                        <th>City</th>
                        <th>Contact Number</th>
                        <th>Clinic Picture</th>
                        <th>Option</th>

                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Address</th>
                        <th>City</th>
                        <th>Contact Number</th>
                        <th>Clinic Picture</th>
                        <th>Option</th>

                    </tr>
                    </tfoot>
                    <tbody>
                    {% for obj in dataset %}
                        <tr>
                            <td>{{ obj.address }}</td>
                            <td>{{ obj.city }}</td>
                            <td>{{ obj.clinic_number }}</td>
                            <td>{{ obj.clinic_picture }}</td>
                            <td>
                                <a class="btn btn-danger btn-xs" type="submit" href="{% url 'location_edit' obj.address %}">edit</a>
                                <a class="btn btn-primary btn-xs" href="{% url 'location_delete' obj.id %}">delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        <!-- </form> -->
    </div>


{% endblock %}