{% extends 'admin-tables-temple.html' %}

{% block content %}

<div style="margin-bottom: 10px">

</div>
<div class="card mb-4">
    <div class="card-header">

        <i class="fas fa-table me-1"></i>
        Payment Table
        <!-- <a class="btn btn-success" style="margin-bottom: 1px" href="http://127.0.0.1:8000/ad/info/add/">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            new User
        </a> -->
    </div>

    <!-- <form method="post" id="app_mag_gorm">
            {% csrf_token %} -->
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Option</th>

                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Option</th>

                </tr>
            </tfoot>
            <tbody>
                {% for obj in payment %}
                <tr>
                    <td>{{ obj.id }}</td>
                    <td>{{ obj.username }}</td>
                    <td>{{ obj.email }}</td>
                    <td>{{ obj.pdate|date:'Y-m-d'}}</td>
                    <td>{{ obj.status }}</td>

                    <td>
                        <a class="btn btn-danger btn-xs" type="submit" href="{% url 'payment_edit' obj.id %}">edit</a>
                        <a class="btn btn-primary btn-xs" href="{% url 'payment_delete' obj.id %}">delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- </form> -->
</div>


{% endblock %}