
{% extends 'admin-tables-temple.html' %}
<!-- 模板继承 -->
{% load static %}
<link rel="stylesheet" href="{% static 'css/appointment_delete.css' %}" type="text/css" media="all">
{% block content %}
<!-- 取值 -->
<h4 class="fst-italic lh-1 mb-4">Are you sure to delete the following appointment?</h4>
<h4 class="fst-italic lh-1 mb-4">Please notice this action cannot be resumed!</h4>
{%  for loc in location %}
<form method="post" id="contactForm" data-sb-form-api-token="API_TOKEN">
    <!-- Email address input-->
    <!-- 监听 -->
    {% csrf_token %}
    <div class="row input-group-newsletter">
        <div class="col"><lable class="fw-bolder">Name: {{loc.address}}</lable></div>
    </div>
    <br>
    <div class="row input-group-newsletter">
        <div class="col"><lable class="fw-bolder">Email: {{loc.city}}</lable></div>
    </div>
    <br>
    <!-- <div class="row input-group-newsletter">
        <div class="col"><input class="form-control" name="phone_number" id="phone_number" type="text" placeholder="Enter your phone number..." aria-label="Enter your phone number..." data-sb-validations="required, phone_number" /></div>
    </div>
    <br> 手机号暂时用不到-->
    <div class="row input-group-newsletter">
        <div class="col"><lable class="fw-bolder">Description: {{loc.clinic_number}}</lable></div>
    </div>
    <br>
    <div class="row input-group-newsletter">
        <div class="col"><lable class="fw-bolder">Date: {{loc.clinic_picture}}</lable></div>
    </div>
    <br>
    <button class="btn btn-danger btn-xs" type="submit" href="{% url 'location_mag' %}">Delete</button>
    <a class="btn btn-danger btn-xs" type="submit" href="{% url 'location_mag' %}">Cancel</a>
</form>
{% endfor %}

{% endblock %}