
{% extends 'admin-tables-temple.html' %}
<!-- 模板继承 -->
{% block content %}
<!-- 取值 -->
{%  for loc in location %}
<form method="post" id="contactForm" data-sb-form-api-token="API_TOKEN">
    <!-- Email address input-->
    <!-- 监听 -->
    {% csrf_token %}
    <div class="row input-group-newsletter">
        <div class="col"><input class="form-control" name="address" id="address" type="text" value="{{loc.address}}" data-sb-validations="required, address" /></div>
    </div>
    <br>
    <div class="row input-group-newsletter">
        <div class="col"><input class="form-control" name="city" id="city" type="text" value="{{loc.city}}" data-sb-validations="required, city" /></div>
    </div>
    <br>
    <!-- <div class="row input-group-newsletter">
        <div class="col"><input class="form-control" name="phone_number" id="phone_number" type="text" placeholder="Enter your phone number..." aria-label="Enter your phone number..." data-sb-validations="required, phone_number" /></div>
    </div>
    <br> 手机号暂时用不到-->
    <div class="row input-group-newsletter">
        <div class="col"><input class="form-control" name="number" id="number" type="text" value="{{loc.clinic_number}}" data-sb-validations="required, number" /></div>
    </div>
    <br>
    <div class="row input-group-newsletter">
        <div class="col"><input class="form-control" name="picture" id="picture" type="text" value="{{loc.clinic_picture}}" data-sb-validations="required, picture" /></div>
    </div>
    <br>
    <button class="btn btn-danger btn-xs" type="submit" href="{% url 'location_mag' %}">Edit</button>
    <a class="btn btn-danger btn-xs" type="submit" href="{% url 'location_mag' %}">Cancel</a>
</form>

<!-- 消息框 -->
<!-- {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %} -->


{% endfor %}

{% endblock %}