{% extends 'homapegeTmeplate.html' %}
{% block content %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <div class="navbar-brand">Medica</div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                            <li class="nav-item"><a class="nav-link" href="{% url 'personalEdit' nid%}">Hello {{ user_name }}</a></li>
{#                            这块是退出然后回到主页#}
                            <li class="nav-item"><a class="nav-link" href="{% url 'homepage' %}">Log Out </a></li>

                            <li class="nav-item"><a class="nav-link" href="{% url 'location' %}">Location</a></li>
                        </ul>
                    </div>
                </div>

            </nav>
{% endblock %}