{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css" media="all">
<div class="login">
    <h1>Register</h1>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username"></p>
        <input type="email" name="email" placeholder="Email"></p>
        <input type="password" name="password" placeholder="Password"></p>
        <button type="submit" class="btn btn-primary btn-block btn-large">Register</button>
    </form>
</div>