<!-- <!DOCTYPE html>
<html>

<head>
    <title>Thanks for your order!</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <section>
        <p>
            We appreciate your business! If you have any questions, please email
            <a href="mailto:orders@example.com">orders@example.com</a>.
        </p>
    </section>
</body>

</html> -->
<!-- {% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Django + Stripe Checkout</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>
</head>

<body>
    <section class="section">
        <div class="container">
            <p>Your payment succeeded.</p>
        </div>
    </section>
</body>

</html> -->
{% load static %}
<link rel="stylesheet" href="{% static 'css/success.css' %}" type="text/css" media="all">

<div class="success-page">
    <img src="/clinic/payment/static/images/doctor_main.jpg"  alt="" />
    <h2>Payment Successful !</h2>
    <p>We are delighted to inform you that we received your payments</p>
    <a href="{% url 'homepage' %}" class="btn-view-orders">Return to Homepage</a>
    <!-- <a href="#">Continue Shopping</a> -->
</div>
</div>